[submodule "flutter_app"]
	path = flutter_app
	url = git@github.com:tadeasf/some_bulk_dld-flutter.git
[submodule "fastapi_backend"]
	path = fastapi_backend
	url = git@github.com:tadeasf/some_bulk_dld-backend.git
